In [44]:
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
nl_path = './data/id_and_NL.csv'
emb_path = './data/writer_spk.csv'

In [60]:
nl_df = pd.read_csv(nl_path,header=None,names=['id','NL'])
emb_df = pd.read_csv(emb_path,header=None,names=['spk','emb'])

In [67]:
embs = emb_df['emb'].values.tolist()
for emb,i in zip(embs, range(len(embs))):
    emb = emb.replace('\n','').replace('[','').replace(']','').split()
    emb = [float(x) for x in emb]
    embs[i] = emb

In [75]:
spks = emb_df['spk'].values.tolist()
for spk,i in zip(spks, range(len(spks))):
    spk = int(spk.replace('jvs',''))
    spks[i] = spk

In [79]:
new_emb_df  = pd.DataFrame({'id':spks,'emb':embs})

In [80]:
merged_df = pd.merge(nl_df, new_emb_df, on='id')

In [81]:
merged_df

     id                NL                                                emb
0    10  おとなしく幼さを感じる女子中学生  [0.103718491, -0.00934963916, -0.106388815, -0...
1    11          中性的な声の青年  [0.10368413, -0.00943414, -0.10669071, -0.0295...
2    14       少年ぽさを感じる女の子  [0.103654917, -0.00974015798, -0.105651211, -0...
3    15        20歳程度のお姉さん  [0.10427354, -0.00957899239, -0.105432502, -0....
4    18     ゆっくり間を開けて話す女性  [0.10311142, -0.00847343, -0.10722332, -0.0286...
..  ...               ...                                                ...
74   92   早口で話すかすれた声のおばさん  [0.103464354, -0.00918067495, -0.10675806, -0....
75   95      20～30歳ぐらいの女性  [0.103017924, -0.00849153176, -0.107310012, -0...
76   96         高く細い声の女の人  [0.103096794, -0.00915894711, -0.107083128, -0...
77   97      ふわふわした高い声の男性  [0.103617905, -0.00870063514, -0.106498085, -0...
78  100       少し低い声の社会人男性  [0.102649425, -0.00923666128, -0.107774851, -0...

[79 rows x 3 columns]

In [82]:
merged_df.to_csv('./data/id_and_NL_emb.csv',index=False)